{% extends "base.html" %}

{% block title %}{% block admin_title %}Admin | Quản Lý{% endblock admin_title %}{% endblock title %}

{% block content %}
<div style="min-height: 80vh; padding-top: 80px;">
    {% block admin_content %}{% endblock admin_content %}
</div>
{% endblock content %}

{% block home_section %}{% endblock home_section %}
{% block about_section %}{% endblock about_section %}
{% block service_section %}{% endblock service_section %}
{% block classes_section %}{% endblock classes_section %}
{% block start_today_section %}{% endblock start_today_section %}
{% block schedule_section %}{% endblock schedule_section %}
{% block gallery_section %}{% endblock gallery_section %}
{% block price_section %}{% endblock price_section %}
{% block contact_section %}{% endblock contact_section %}